body {
    background: #ffe4f1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    padding: 20px;
}

.btn {
    padding: 14px 20px;
    background: #ff6fa9;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}